body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

.main-sub{
    font-size: 2.5rem;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: bold;
    font-size: 40px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: bold;
}

.top-container{
    background-color: #E4F9F9;
    position: relative;
    padding-top: 100px;
    margin-bottom: 80px;
}

.skills-img-1{
    margin: 0px  30px 0px 0px;
    width: 25%;
    float: left;
    height: 200px;
}

.skills-img-2{
    margin: 0px 0px 0px 30px;
    width: 25%;
    float: right;
    height: 200px;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.btm-cloud{
    position: absolute;
    left: 600px;
    bottom: 300px;
}
.top-cloud{
    position: absolute;
    right: 600px;
    top: 50px;
}
.profile{
    margin: 0px auto;
    width: 40%;
    line-height: 2;
}
.profile p{
    color: #40514E;
    font-weight: 600;
    text-align: justify;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 5%;
    color: #707474;
    height: 0px;
    margin: 100px auto;
}
.contact-me{
    width: 40%;
    margin: 0 auto;
}
.contact-me *{
    margin: 70px auto;
}
 .contact-me p{
    font-weight: 600;
    line-height: 2;
 }
 .btn{
    background-color: #195959;
    text-decoration: none;
    font-weight: bold;
    width: 200px;
    color: white;    
    padding: 20px 30px;
    border-radius: 10px;
 }
 .bottom-container{
    margin: 100px 0 0 0;
    background-color: #66BFBF;
    height: 200px;
    width: 100%;
    padding: auto auto;
 }

 .bottom-container a{
    display: inline-block;
    color: #11999E;
    text-decoration: none;
    padding: 50px 20px;
 }
.bottom-container p{
    color: #EAF6F6;

}
